.container{
display: flex;
flex-direction: colum;
height: 100vh;
}
.header{
flex:15%;
background-color: lightgray;
}
.menu{
flex: 5%;
background-color: darkgray;  
}
.content{
flex:70%
background-color: white;
}
.content iframe{
flex: 1;
border: none;
}
.footer{
flex: 10%;
background-color: lightgray;
}
h1{color:crimson;
  text-align: center;
  top-margin:22pt;}
.tuade{color: LightSeaGreen;
  font-family:" Times New Roman";
  top-margin: 20pt;
  font-size: 20pt;
  font-weight: bold;}
.noidung {color: Lightcoral;
  font-family:" Times New Roman";
  top-margin: 6pt;
  font;size: 15pt;
  font-style: normal;}
