h1{color:crimson;
  text-align: center;
  top-margin:22pt;}
.tuade{color: LightSeaGreen;
  font-family:" Times New Roman";
  top-margin: 20pt;
  font-size: 20pt;
  font-weight: bold;}
.noidung {color: Lightcoral;
  font-family:" Times New Roman";
  top-margin: 6pt;
  font;size: 15pt;
  font-style: normal;}
